ul.SkiCenterList
{
	margin-top:25px;
	margin-bottom:25px;
}

ul.SkiCenterList li
{
	margin-top:10px;
	margin-bottom:10px;
}

div.GoogleMap 
{
	width:50%;
	height:400px;
	float:right;
	margin-bottom:10px;
	margin-left:20px;	
}	


